*~
build/
release/
out/
dist/
bin/
gen/
classes/
.DS_Store
.idea
local.properties
.envrc
*.iml
*.iws
projectFilesBackup/
project.properties

xcuserdata/

.gradle
.kotlin/

*.keystore
.~lock*

*.hprof

# for gh-pages updates
/gh-pages/
